.cabecalho {
    align-items: center;
    background: var(--cor-fundo);
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}

@media screen and (max-width: 520px) {
    .cabecalho {
        flex-direction: column;
        padding: 0;
    }
}